@use 'sass:map';
@use 'variables' as *;

@mixin media-query($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

// @mixin media-query($breakpoint) {
//   @if $breakpoint == 'sm' {
//     @media (min-width: 576px) {
//       @content;
//     }
//   } @else if $breakpoint == 'md' {
//     @media (min-width: 768px) {
//       @content;
//     }
//   } @else if $breakpoint == 'lg' {
//     @media (min-width: 992px) {
//       @content;
//     }
//   } @else if $breakpoint == 'xl' {
//     @media (min-width: 1200px) {
//       @content;
//     }
//   }
// }

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin input-reset {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
}
