$primary-color: #39cdcc;
$secondary-color: #213f7d;
$accent-color: #545f7d;
$white: #ffffff;
$error-color: #ff4d4f;
$success-color: #39cd62;
$warning-color: #e9b200;

$font-family-primary: 'Work Sans', sans-serif;

// Font weight variables
$font-weights: (
  'thin': 100,
  'extralight': 200,
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700,
  'extrabold': 800,
  'black': 900,
);

$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
);
